[default]
access_key = {{ s3_access_key }}
secret_key = {{ s3_secret_key }}
host_base = {{ s3_host_base }}
host_bucket = {{ s3_host_bucket }}
region = {{ s3_region }}
use_https = {{ s3_use_https | lower }}
